.main {
    display: flex;
    justify-content: center;
    padding-top: 80px;
   height: 100%;
   width: 100%;
}

.panel {
    max-width: 358px;
    min-height: 295px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px ;
    text-align: center;
}


.input-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 358px;

}

.btn-container {
    display: flex;
    justify-content: end;
}

.input {
    max-width: 358px;
}

